/* body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */



.about{
    background: rgba(32, 38, 157, 0.522);
    border-radius: 0.5rem;
}